<ul>
 <% tasks.each do |task| %>
  <li>     
    <div>
      <%= link_to task %><%= task.created_at %>
    </div>
    <div>
      <p><%= task.content %></p>
      <p><%= task.status %></p>
    </div>
  </li>
  <% if current_user == task.user %>
    <%= link_to "削除する", task, method: :delete, data: { confirm: "本当によろしいですか？"}, class: 'btn btn-danger btn-sm' %>
  <% end %>
  </li>
  <% end %>
  <%= paginate tasks %>
</ul>