<% if logged_in? %>
<p>ログイン完了ユーザ: <%= current_user.name %></p>
<div>
      <%= form_with(model: @task, local: true) do |f| %>
        <div>
          <%= f.text_area :status, class: 'form-control' , rows: 1 %>
        </div>
        <div>
          <%= f.text_area :content, class: 'form-control' , rows: 5 %>
        </div>
          <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
      <% end %>
    <%= render 'tasks/form', tasks: @tasks %>
  </div>
</div>
<% else %>
  <div>
    <h1>ようこそ！タスクリストへ</h1>
    <%= link_to '新規登録する', signup_path,class: "btn btn-primary" %>
  </div>
<% end %>